extends layout

block content
  h1= title

  form(method="POST" action="")
    .form-group
      label(for="username") Username:
      input#username.form-control(
        type="text"
        name="username"
        value=(user ? user.username : "")
        required
      )
    .form-group
      label(for="password") Password:
      input#password.form-control(
        type="password"
        name="password"
        value=(user ? user.password : "")
        required
      )
    button.btn.btn-primary(type="submit") Log in

  if errors
    p: ul
      each error in errors
        li!= error.msg